body {
    background-color: powderblue;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}

p {
    color: red;
    font-family: courier;
    font-size: 160%;
}

h2 {
    color: pink;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: darkkhaki;
}